*{
	box-sizing: border-box;
}

body{
	padding-top: 40px;
	margin: auto;
	font-family: sans-serif;
}

.phone{
	overflow: hidden;
	width: 300px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	/*text-align: center;*/
	align-items: center;
	margin: auto;
	border: 1px solid #ccc;
	border-radius: 12px;
}

.display{
	font-weight: 100;
	font-size: 50px;
	padding: 25px 20px;
	color: #fff;
	width: 100%;
	height: 100px;
	background: rgba(88, 86, 214, .5);
}

.keyboard{
	margin: 10px 0;
	user-select: none;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	width: 90%;
}

.number{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	margin-top: 10px; 
	width: 30%;
	border: 1px solid #ccc;
	border-radius: 50px;
	color: #ccc;
	transition: all .3s ease-in;
}

.button span{
	padding: 0 40px;
	display: inline-block;
}

.btn{
	user-select: none;
	cursor: pointer;
	margin: 20px 0;
}

.btn .call{
	font-size: 40px;
	color: rgba(76, 217, 100, .6);
	transition: all .3s ease-in;
}

.btn .erase{
	font-size: 45px;
	color: rgba(255, 59, 48, .6);
	transition: all .3s ease-in;
}

.active{
	background: red;
	color: rgb(0, 122, 225, .5);
}